@model List<OrderModel>

@{
    ViewData["Title"] = "Orders Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <div class="card-datatable table-responsive">
            <table class="table table-striped text-center">
                <thead class="table-dark">
                <tr>
                    <th>Order</th>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Payment</th>
                    <th>Order Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>#@order.OrderID</td>
                        <td>@order.CreatedAt</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <strong>@order.UserName</strong>
                                <br /><small>@order.UserEmail</small>
                            </div>
                        </td>
                        <td>
                            <span class="badge @(order.PaymentStatus == "Paid" ? "bg-success" : order.PaymentStatus == "Pending" ? "bg-warning" : "bg-danger")">
                                @order.PaymentStatus
                            </span>
                        </td>
                        <td>
                            <span class="badge @(order.OrderStatus == "Pending" ? "bg-warning" : order.OrderStatus == "Confirmed" ? "bg-primary" : order.OrderStatus == "Completed" ? "bg-success" : "bg-danger")">
                                @order.OrderStatus
                            </span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <a asp-action="DetailOrders" asp-route-id="@order.UserID" class="btn btn-primary btn-sm">View</a>
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
